<div>
    <div>
        <h3>Vstupní parametry</h3>
        <div>
            <div *ngFor="let group of groupedGenerators">
                <h4>{{group.name}}</h4>
                <div>
                    <app-generator-item *ngFor="let generator of group.generators" [generator]="generator" [visibleField]="true"
                        (change)="generatorChanged()">
                    </app-generator-item>
                </div>
            </div>
        </div>
    </div>
    <div>
        Výstupní parametry
        <div>
            <h4>Barva</h4>
            <input type="text" [(ngModel)]="widgetColor" (change)="generatorChanged()"/>
        </div>
        <div>
            <h4>Výška</h4>
            <input type="number" [(ngModel)]="widgetHeight" min="0"/>
        </div>
        <div>
            <h4>Šířka</h4>
            <input type="number" [(ngModel)]="widgetWidth" min="0"/>
        </div>
    </div>
    <div>
        Vygenerovaný odkaz

        <iframe [src]="linkToWidgetPreview" name="myiFrame" scrolling="no"
            frameborder="1" marginheight="0px" marginwidth="0px" height="400px" width="600px"></iframe>

        <div>
            {{linkToWidgetPreview}}
        </div>
    </div>
</div>