<div class="range-component">
  <div class="header">
    <div class="title">
      <div *ngIf="range.optional;then checkboxTitle else justTitle">
      </div>
      <ng-template #checkboxTitle>
        <mat-checkbox *ngIf="range.optional" [checked]="range.checked" (change)="optionalChange($event)"
          color="primary">
          <h3>{{range.name | translate}}</h3>
        </mat-checkbox>
      </ng-template>
      <ng-template #justTitle>
        <h3>{{range.name | translate}}</h3>
      </ng-template>
      <fa-icon *ngIf="range.toolTipShow" #tooltip="matTooltip" [icon]="faInfoCircle"
        matTooltip="{{range.toolTipMessage}}" [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip'"
        (click)="tooltip.toggle()"></fa-icon>
    </div>
    <div class="input-controls">
      <button>
        <fa-icon [icon]="faMinus" (click)="minus(value)"></fa-icon>
      </button>
      <div class="input-wrapper" [ngClass]="{'disabled': range.readOnly}">
        <div class="clear-input" [ngClass]="{'hidden': hideClearInput}" (click)="clearInput(value)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </div>
        <input #value [textMask]="{mask: currencyMask}" type="tel" inputmode="numeric" [(ngModel)]="internalValueInput"
          [readonly]="range.readOnly" (input)="inputFieldChanged($event.target.value)"
          (blur)="onInputBlur($event.target.value)" (focus)="onInputFocus()">
        <div class="value-unit">{{range.getCurrentUnit()}}</div>
      </div>
      <button>
        <fa-icon [icon]="faPlus" (click)="plus(value)"></fa-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!range.readOnly" class="slider">
    <input type="range" class="my-slider" id="slider{{range.parameterName}}" value="{{internalValue}}"
      min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" tabIndex="-1" />
    <div class="min-max">
      <div>{{range.getMinUnit()}}</div>
      <div class="right">{{range.getMaxUnit()}}</div>
    </div>
  </div>
</div>