:root {
    --my-color: #0f4c75;
}

.range-component {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 14px;
}

.range-component .slider {
    width: auto;
    padding: 0px;
    margin: 10px 0 0 0;
}

.slider, .range-component {
    overflow: hidden;
    color: black;
    vertical-align: middle;
}

.mat-slider-horizontal {
    width: 100%;
    padding-bottom: 0px;
}

.range-component .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.range-component .header>* {
    align-self: center;
}

.range-component .header .title {
    flex: 1;
}

.range-component .header .title h3 {
    font-weight: 400;
    margin: 0px;
}

.range-component .header .title>* {
    display: inline;
    padding-right: 10px;
}

.input-controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
}

.input-controls fa-icon {
    cursor: pointer;
}

.input-controls button, .input-controls button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.input-wrapper {
    display: grid;
    align-items: baseline;
    grid-template-columns: 21px auto max-content;
    grid-template-columns: auto max-content;
    grid-column-gap: 5px;
    border: var(--semi-dark) 1px solid;
    border-radius: 0.5em;
    padding-left: 5px;
    position: relative;
}

.input-wrapper input {
    height: 30px;
    margin: 2px 0px;
    border: 0;
    outline: none;
    border-radius: 3px;
    font-weight: normal;
    text-align: right;
    background-color: white;
    color: black;
    width: 100%;
}

.input-wrapper .value-unit {
    margin-right: 1em;
}

.input-wrapper .clear-input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: 5px;
    font-size: 0.6rem;
    padding: 0.4em;
}

.input-wrapper:focus-within .clear-input {
    visibility: visible;
    opacity: 0.8;
}

.input-wrapper .hidden {
    visibility: hidden;
}

.input-wrapper input:focus {
    outline: none;
}

.disabled, .disabled input {
    background-color: whitesmoke;
}

.right {
    float: right;
    text-align: right;
}

.min-max {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.mat-slider-horizontal {
    height: 35px;
}

fa-icon {
    color: var(--my-color);
    font-size: 1.5em;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    border-color: var(--my-color);
    background-color: var(--my-color);
}

.mat-ripple-element {
    background-color: var(--my-color) !important;
}

/* HTML slider*/

input[type=range] {
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: auto;
}

.my-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #d3d3d3e5;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px 0px 2px 0px;
}

.my-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--my-color);
    cursor: pointer;
}

.my-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--my-color);
    cursor: pointer;
}

::ng-deep .tooltip {
    font-size: 1em;
}

@media all and (min-width: 800px) {
    .range-component .header {
        grid-template-columns: 1fr 170px;
    }
    input[type=range] {
        pointer-events: auto;
    }
    input[type=range]::-webkit-slider-thumb {
        pointer-events: auto;
    }
    .my-slider {
        cursor: pointer;
    }
    .input-controls {
        grid-template-columns: 1fr;
    }
    .input-controls fa-icon {
        display: none;
    }
    .input-wrapper {
        grid-template-columns: auto max-content;
    }
    .input-wrapper .clear-input {
        display: none;
    }
}