
.newest, .blog {
    display: flex;
	margin: 0px 10px 20px 10px;
}

.blog {
	flex-direction: column;
}

.newest {
	flex-direction: column-reverse;
}

.newest .article-image, .blog figure {
	overflow: hidden;
	position: relative;
	flex: none;
	width: 100%;
	margin: 0px;
}

.newest .article-image img, .blog figure img {
	width: 100%;
}

.blog_date {
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	margin: 0;
}
.date {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 30px 30px 0 0;
	color: #ffffff;
	display: inline-block;
	padding: 10px 20px;
}
.date i {
	margin-right: 10px;
}
.article-content {
    padding: 0px 5px 15px 5px;
}
.article-content h2, .article-content h3 {
	font-weight: 600;
	letter-spacing: 0.1px;
	line-height: normal;
    text-decoration: none;
	text-transform: capitalize;
}

.articles-footer button, .articles-footer mat-paginator {
	height: 50px;
}

.articles-footer > button {
	width: 100%;
}

.mat-button-wrapper .mat-badge-content {
	/*background-color: #ff880e;*/
	color: white;
}

@media all and (min-width: 575px) {
	.newest, .blog {
		flex-direction: row;
	}

	.blog figure {
		margin: 10px 10px 10px 0px;
	}
	
	.newest .article-image {
		margin: 0px 0px 10px 10px;
	}
	  
	.blog figure, .newest .article-image, .blog figure img, .newest .article-image img {
		max-width: 370px;
		max-height: 240px;
	}

	.blog figure, .newest .article-image {
		width: 40%;
	}	

	.blog figure img, .newest .article-image img {
		transition: all 0.5s ease 0s;
	}
  
	.newest:hover .article-image img, .blog:hover figure img {
		transform: scale(1.1);
	}
}

@media all and (min-width: 1020px) {
	  
	.newest .article-image, .newest .article-image img {
		max-width: none;
		max-height: none;
		width: 600px;
		height: 400px;
	}

	.blog figure {
		margin: 10px 30px 10px 0px;
	}
	
	.newest .article-image {
		margin: 0px 0px 10px 30px;
	}
}