
<a [routerLink]="['/clanek', article.articleId]" class="item">
  <div class="blog">
      <figure>
          <img src="{{article.picture}}" alt="blog2"/>
          <div class="blog_date"><span class="date"><i class="fa fa-calendar-o"></i>{{article.date}}</span></div>
      </figure>
      <div class="article-content">
        <h3>{{article.title}}</h3>
        <p>{{article.contentPreview}}</p>
      </div>
  </div>
</a>