<section>
    <div class="container">
        <h2>{{'RealityAgenciesCooperationTitle' | translate}}</h2>
        <div>{{'RealityAgenciesCooperationText' | translate}}</div>
        <!-- <a [routerLink]="['/spoluprace/realitni-makleri/widget']">Widget</a>
        <a [routerLink]="['/spoluprace/realitni-makleri/link']">Link</a>
        widget is not ready for prod yet -->
        <router-outlet></router-outlet>
    </div>
</section>