<section>
    <div class="container article-full">
        <article>
            <div class="row">
                <div>
                    <h2>{{article.title}}</h2>
                </div>
                <div class="content">
                    <div class="image">
                        <img src="{{article.picture}}" alt="about_img" />
                    </div>
                    <div>
                        <p>{{article.contentFull}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button routerLink="/blog">{{'ArticlesBackToList' | translate}}</button>
            </div>
        </article>
    </div>
</section>