<section>
    <div class="container">

        <div class="calculator">

            <mat-accordion [multi]="false" [@.disabled]="disableAnimation">
                <mat-expansion-panel *ngFor="let rangeGroup of ranges; index as i" [expanded]="i === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>{{rangeGroup.name | translate}}</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="calculator-controls-items">
                        <app-range *ngFor="let range of rangeGroup.ranges" [(range)]="range" (change)="recalculate()"
                            (maxValue)="maxValueSelected()"></app-range>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="quick-overview-wrapper">
                <div class="header">
                    <h3>{{ 'QuickOverview' | translate }}</h3>
                </div>
                <div class="content">
                    <div class="roa" *ngIf="showRoa">
                        <div class="value">{{calculations.nettYearlyRoa}}%</div>
                        <div class="label">{{'NettYearlyRentability' | translate}}</div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <h4>{{'MonthlyMortgagePayment' | translate}}</h4>
                            <span>{{calculations.monthlyMortgagePayment.toLocaleString()}} Kč</span>
                        </div>
                        <div class="highlighted item">
                            <h4>{{'MonthlyMortgagePaymentMinusRental' | translate}}</h4>
                            <span>{{calculations.myMortgagePayment.toLocaleString()}} Kč</span>
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <button mat-button (click)="share()">
                                <fa-icon [icon]="faShare" matTooltip="{{'Share' | translate}}"
                                    [matTooltipPosition]="'above'"></fa-icon><br>{{'Share' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="results">
            <div class="charts">
                <div class="chart-wrapper">
                    <div class="chart-content">
                        <div class="chart">
                            <ngx-charts-pie-chart [results]="getInvestmentChartData()" [doughnut]="true"
                                [legend]="false" [scheme]="colorSchemeFinancing" [animations]="false"
                                [tooltipText]="pieTooltipText">
                            </ngx-charts-pie-chart>
                        </div>
                        <div class="chart-info">
                            <div class="title">
                                <div class="value">{{calculations.investmentCostsTotal | currency:'CZK':'symbol-narrow':'1.0'}}</div>
                                <div class="label">{{'InvestmentFinancing' | translate}}</div>
                            </div>
                            <div class="legend">
                                <div *ngFor="let dataItem of getInvestmentChartData()" class="item-wrapper">
                                    <div class="item-color" [ngStyle]="{'border-left-color': dataItem.color}"></div>
                                    <div class="item-content">
                                        <div class="share">{{valueFormattingPercentage(dataItem.share)}}</div>
                                        <div class="name">{{dataItem.name}}</div>
                                        <div class="value">{{dataItem.value | currency:'CZK':'symbol-narrow':'1.0'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div class="chart-content">
                        <div class="chart">
                            <ngx-charts-pie-chart [results]="getMortgagePaymentChartData()" [doughnut]="true"
                                [legend]="false" [scheme]="colorSchemePayment" [animations]="false"
                                [tooltipText]="pieTooltipText">
                            </ngx-charts-pie-chart>
                        </div>
                        <div class="chart-info">
                            <div class="title">
                                <div class="value">{{calculations.monthlyMortgagePayment | currency:'CZK':'symbol-narrow':'1.0'}}</div>
                                <div class="label">{{'MonthlyPayment' | translate}}</div>
                            </div>
                            <div class="legend">
                                <div *ngFor="let dataItem of getMortgagePaymentChartData()" class="item-wrapper">
                                    <div class="item-color" [ngStyle]="{'border-left-color': dataItem.color}"></div>
                                    <div class="item-content">
                                        <div class="share">{{valueFormattingPercentage(dataItem.share)}}</div>
                                        <div class="name">{{dataItem.name}}</div>
                                        <div class="value">{{dataItem.value | currency:'CZK':'symbol-narrow':'1.0'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-tab-group animationDuration="0ms" mat-stretch-tabs>
                <mat-tab label="{{'BasicOverview' | translate}}">
                    <div class="group">
                        <div class="row">
                            <div class="main label">{{'InvestmentRentability' | translate}}</div>
                            <div class="main calculation">{{calculations.nettYearlyRoa}} %</div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'MonthlyMortgagePayment' | translate}}</div>
                            <div class="calculation">{{calculations.monthlyMortgagePayment.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="nested label">{{'NettRentalIncome' | translate}}</div>
                            <div class="calculation">{{calculations.monthlyNettIncome.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main nested label">{{'MonthlyMortgagePaymentMinusRental' | translate}}</div>
                            <div class="main calculation">{{calculations.myMortgagePayment.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'NeccessaryMortgageLoan' | translate}}</div>
                            <div class="calculation">{{calculations.loanNeeded.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main nested label">{{'TotalInterest' | translate}}</div>
                            <div class="main calculation">{{calculations.interestAbs.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'TotalInvestmentCost' | translate}}</div>
                            <div class="calculation">{{calculations.investmentCostsTotal.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="label nested">{{'CostsPaiedByTenant' | translate}}</div>
                            <div class="calculation">{{calculations.investmentCostsTenant.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label nested">{{'CostsPaiedByOwner' | translate}}</div>
                            <div class="main calculation">{{calculations.investmentCostsOwner.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'Rental' | translate}}">
                    <h3>{{'NettRentalCalculationTitle' | translate}}</h3>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'ExpectedRental' | translate}}</div>
                            <div class="calculation">{{expectedRental.getValue().toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="insuranceMortage.checked" class="row">
                            <div class="label">{{'MortgageInsurance' | translate}}</div>
                            <div class="calculation">- {{round(insuranceMortage.getValue() / 12)}} Kč</div>
                        </div>
                        <div *ngIf="rentalFees.checked" class="row">
                            <div class="label">{{'FeesPaidByOwner' | translate}}</div>
                            <div class="calculation">- {{rentalFees.getValueUnitWithoutTime()}}</div>
                        </div>
                        <div *ngIf="lawPartner.checked" class="row">
                            <div class="label">{{'LawPartner' | translate}}</div>
                            <div class="calculation">- {{calculations.lawPartnerAbs}} Kč</div>
                        </div>
                        <div *ngIf="insuranceFlat.checked" class="row">
                            <div class="label">{{'PropertyInsurance' | translate}}</div>
                            <div class="calculation">- {{round(insuranceFlat.getValue() / 12)}} Kč</div>
                        </div>
                        <div *ngIf="taxOwnership.checked" class="row">
                            <div class="label">{{'OwnershipTax' | translate}}</div>
                            <div class="calculation">- {{round(taxOwnership.getValue() / 12)}} Kč</div>
                        </div>
                        <div *ngIf="taxRental.checked" class="row">
                            <div class="label">{{'RentalTax' | translate}}</div>
                            <div class="calculation">- {{calculations.rentalTaxAbs}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label">{{'NettRentalIncome' | translate}}</div>
                            <div class="main sum calculation">{{calculations.monthlyNettIncome.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'Mortgage' | translate}}">
                    <h3>{{'NeccessaryMortgageLoanCalculationTitle' | translate}}</h3>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'PropertyPrice' | translate}}</div>
                            <div class="calculation">{{propertyPrice.getValue().toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="ownCapital.getValue() > 0" class="row">
                            <div class="label">{{'OwnCapital' | translate}}</div>
                            <div class="calculation">- {{ownCapital.getValue().toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="calculations.purchaseTaxAbs > 0" class="row">
                            <div class="label">{{'PurchaseTax' | translate}}</div>
                            <div class="calculation">+ {{calculations.purchaseTaxAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="calculations.comissionAbs > 0" class="row">
                            <div class="label">{{'RealityAgencyCommission' | translate}}</div>
                            <div class="calculation">+ {{calculations.comissionAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label">{{'NeccessaryMortgageLoan' | translate}}</div>
                            <div class="main sum calculation">{{calculations.loanNeeded.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                    <h3>{{'MonthlyMortgagePaymentCalculationTitle' | translate}}</h3>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'NeccessaryMortgageLoan' | translate}}</div>
                            <div class="calculation">{{calculations.loanNeeded.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="label">{{'InterestRate' | translate}}</div>
                            <div class="calculation">{{interestRate.getRawValue().toLocaleString()}} %</div>
                        </div>
                        <div class="row">
                            <div class="label">{{'LongTerm' | translate}}</div>
                            <div class="calculation">{{longTerm.getValueUnit()}}</div>
                        </div>
                        <div class="row">
                            <div class="label">{{'TotalInterest' | translate}}</div>
                            <div class="calculation">{{calculations.interestAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label">{{'MonthlyMortgagePayment' | translate}}</div>
                            <div class="main sum calculation">{{calculations.monthlyMortgagePayment.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'InvestmentCosts' | translate}}">
                    <h3>{{'TotalInvestmentCostCalculationTitle' | translate}}</h3>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'PropertyPrice' | translate}}</div>
                            <div class="calculation">{{propertyPrice.getValue().toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="calculations.purchaseTaxAbs > 0" class="row">
                            <div class="label">{{'PurchaseTax' | translate}}</div>
                            <div class="calculation">+ {{calculations.purchaseTaxAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="calculations.comissionAbs > 0" class="row">
                            <div class="label">{{'RealityAgencyCommission' | translate}}</div>
                            <div class="calculation">+ {{calculations.comissionAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div *ngIf="calculations.interestAbs > 0" class="row">
                            <div class="label">{{'MortgageInterest' | translate}}</div>
                            <div class="calculation">+ {{calculations.interestAbs.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label">{{'TotalInvestmentCost' | translate}}</div>
                            <div class="main sum calculation">{{calculations.investmentCostsTotal.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'InvestmentFinancing' | translate}}">
                    <h3>{{'TotalInvestmentCostCalculationTitle' | translate}}</h3>
                    <div class="group">
                        <div class="row">
                            <div class="label">{{'InitialInvestmentByOwner' | translate }}</div>
                            <div class="calculation">{{calculations.initialInvestment.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="label">{{'AdditionalInvestmentByOwner' | translate}}</div>
                            <div class="calculation">+ {{calculations.additionalInvestment.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="label">{{'PaydByRental' | translate}}</div>
                            <div class="calculation">+ {{calculations.investmentCostsTenant.toLocaleString()}} Kč</div>
                        </div>
                        <div class="row">
                            <div class="main label">{{'TotalInvestmentCost' | translate}}</div>
                            <div class="main sum calculation">{{calculations.investmentCostsTotal.toLocaleString()}} Kč</div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</section>