.calculator {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 30px;
}

mat-tab-group h3 {
    font-weight: 500;
    margin-top: 30px;
    color: dimgray;
}

mat-tab-group .group {
    margin-top: 20px;
}

mat-tab-group .group .row {
    display: grid;
    grid-template-columns: 1fr 120px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, rgb(177, 177, 177));
    border-image-slice: 1;
}

mat-tab-group .group .row div {
    padding: 10px 0px;
}

mat-tab-group .group .row:nth-last-child(1) {
    border-bottom: 0px;
}

mat-tab-group .group .row .calculation {
    text-align: right;
}

mat-tab-group .group .row .sum {
    border-top: 2px solid var(--dark);
}

mat-tab-group .group .nested {
    margin-left: 30px;
}

mat-tab-group .group div span {
    justify-self: end;
}

mat-tab-group .group .main {
    font-weight: 500;
}

.mat-expansion-panel-header-title h3, .quick-overview-wrapper h3 {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--semi-dark);
    margin-bottom: 0;
}

.mat-expansion-panel-header-title h3 {
    margin-left: 5px;
}

.mat-expansion-panel .mat-expansion-panel-header {
    padding: 10px 20px;
}

.mat-expansion-panel .mat-expansion-panel-body {
    padding-left: 10px;
}

.quick-overview-wrapper, mat-tab-group {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: block;
    background: #fff;
    padding: 24px;
}

.quick-overview-wrapper {
    text-align: center;
}

.quick-overview-wrapper h3 {
    margin-top: 0px;
    border-bottom: 2px solid var(--semi-dark);
    padding-bottom: 30px;
}

.quick-overview-wrapper .roa {
    margin: 20px 0px;
}

.quick-overview-wrapper .roa .value {
    font-size: 3.5em;
    font-weight: 400;
}

.quick-overview-wrapper .roa .label {
    font-size: 1.6em;
    color: dimgray;
}

.quick-overview-wrapper .group {
    margin-top: 0px;
}

.quick-overview-wrapper .item {
    margin-top: 20px;
    display: block;
}

.quick-overview-wrapper .highlighted span {
    font-weight: 500;
}

.quick-overview-wrapper h4, .quick-overview-wrapper h5 {
    font-weight: normal;
    /*border-bottom: 2px solid lightgray;*/
    margin: 10px 0px;
}

.quick-overview-wrapper h5 {
    margin: 10px 20px;
}

.calculator-controls-wrapper, mat-accordion, mat-vertical-stepper, mat-tab-group {
    flex: 1;
}

mat-expansion-panel {
    width: 100%;
}

.calculator-controls-group {
    margin-bottom: 5px;
}

.calculator-controls-group h6 {
    margin-right: 40px;
    border-bottom: 1px solid lightgray;
}

.calculator-controls-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.mat-tab-label-containe .mat-tab-list .mat-tab-labels .mat-tab-label {
    font-size: 1.1em;
    font-weight: 500;
}

.quick-overview-wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    align-items: center;
    justify-items: left;
    overflow: hidden;
    margin: 20px 0px 20px 0px;
}
.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.chart-content {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0px;
    overflow: hidden;
}
.chart {
    display: grid;
    justify-self: stretch;
    align-self: stretch;
}
.chart-info {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-left: 10px;
}
.chart-info .title {
    margin-bottom: 10px;
    text-align: center;
}
.chart-wrapper .title .value {
    font-size: 1.5em;
}
.chart-wrapper .title .label {
    font-size: 1.4em;
}
.legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.legend .item-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 0px;
}
.legend .item-wrapper .item-color {
    border-left: 4px solid;
    width: 4px;
    height: 42px;
    float: left;
    margin-right: 5px;
}
.legend .item-content {
    display: flex;
    flex-direction: column-reverse;
}
.legend .item-content .name {
    margin-right: 10px;
    font-size: 0.8em;
}
.legend .item-content .value {
    font-size: 1.2em;
    font-weight: 400;
}
.legend .item-content .share {
    font-weight: 400;
}

@media all and (min-width: 420px) {
    mat-tab-group .group div {
        grid-template-columns: 1fr auto;
    }
}

@media all and (min-width: 575px) {
    .calculator-controls-items {
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        border-top: 2px solid var(--semi-dark);
    }
    .quick-overview-wrapper .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        justify-items: center;
        align-items: center;
    }
    .chart-content {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 220px;
        grid-row-gap: 30px;
    }
    .chart-wrapper {
        justify-self: left;
    }
    .chart-wrapper .title {
        text-align: left;
    }
    .legend {
        justify-content: stretch;
    }
}

@media all and (min-width: 700px) {
    .calculator {
        grid-template-columns: 1fr 290px;
        grid-column-gap: 16px;
    }
    .quick-overview-wrapper .content {
        display: flex;
        flex-direction: column;
    }
    .quick-overview-wrapper .group {
        margin-top: 20px;
    }
    .quick-overview-wrapper .item {
        margin-top: 25px;
    }
    .charts {
        grid-template-columns: 1fr 1fr;
    }
    .chart {    
        justify-self: stretch;
        align-self: stretch;
    }
    .chart-wrapper {
        justify-self: center;
        align-self: flex-start;
    }
    .chart-info {
        justify-self: center;
        align-self: center;
    }
    .chart-info .title {
        text-align: center;
    }
    .chart-content {
        grid-template-columns: 1fr;
    }
    .legend {
        justify-content: center;
    }
}

@media all and (min-width: 950px) {
    .charts {
        display: flex;
        justify-content: space-around;
    }
    .chart-content {
        grid-template-rows: 350px;
        grid-template-columns: 200px 1fr;
    }
    .chart-info .title {
        text-align: left;
    }
    .chart-info .legend {
        justify-content: stretch;
    }
    .chart-wrapper .title .value {
        font-size: 2em;
    }
    .chart-wrapper .title .label {
        font-size: 1.4em;
    }
    .legend .item-content .name {
        font-size: 0.9em;
    }
    .legend .item-content .value {
        font-size: 1.5em;
    }
    .legend .item-content .share {
        font-size: 1.3em;
    }
}

@media all and (min-width: 1150px) {
    .calculator-controls-items {
        grid-template-columns: 1fr 1fr;
    }
}