.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #ffffff;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  border: none;
  /*border-bottom: solid 1px #e0e0e0;
  border-bottom: solid 1px var(--semi-light);*/
  background: var(--light);
  color: var(--semi-dark);
}

.hidden {
  display: none;
}

.mat-toolbar .large-header a {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  /*padding: 15px 15px;*/
  color: var(--dark);
  padding: 30px 15px;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.mat-toolbar .large-header a:hover, .mat-toolbar .large-header .active {
  /*color: var(--highlight);*/
  background: var(--dark);
  color: var(--light);
  border-radius: 5px;
}

.mat-toolbar .left-part a {
  padding: 0px;
}

.mat-toolbar .left-part img {
  padding: 11px 15px;
}

.main-nav-grid {
  width: 100%;
  min-width: 300px;
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}

#main {
  height: 1px;
}

.logo {
  font-size: 0.9em;
  padding: 5px 0px;
  /*color: var(--dark)*/
}

.logo span {
  color: #ff880e;
  text-shadow: 1px 1px 2px rgba(15, 76, 117, 0.5);
  /*color: var(--highlight);*/
}

@media all and (min-width: 600px) {
  .logo {
    font-size: 1.1em;
    padding: 0px;
  }

  .mat-toolbar .large-header a {
    padding: 5px 10px;
  }
}

@media all and (min-width: 750px) {
  .logo {
    font-size: 1.5em;
  }

}