<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/blog">Články</a>
      <a mat-list-item routerLink="/kalkulacky">Kalkulačky</a>
      <a mat-list-item routerLink="/spoluprace">Spolupráce</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div #main id="main">&nbsp;</div>
    <mat-toolbar>
      <div class="main-nav-grid">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="left-part">
          <a routerLink="/" class="logo">Reality jako inve<span>$</span>tice</a>
        </div>
        <div *ngIf="!(isHandset$ | async)" class="large-header">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a>
          <a routerLink="/blog" routerLinkActive="active">Blog</a>
          <a routerLink="/kalkulacky" routerLinkActive="active">Kalkulačky</a>
          <a routerLink="/spoluprace" routerLinkActive="active">Spolupráce</a>

          <!--<mat-form-field>
            <mat-select value="{{defaulLanguage}}" (selectionChange)="setLang($event)">
              <mat-option *ngFor="let lang of langOptions" [value]="lang">
                {{lang}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>