<ng-template [ngIf]="!withouHeaderAndFooter">
    <app-main-nav>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <div class="container">
                <div>Publikování nebo šíření obsahu je bez písemného souhlasu provozovatele zakázáno. Informace mají pouze informativní charakter.</div>
                <div>Reality jako investice s.r.o. © 2019. Připomínky a návrhy zasílejte na <a href="mailto:{{getEmail()}}">{{getEmail()}}</a>.</div>
            </div>
        </footer>
    </app-main-nav>
</ng-template>

<ng-template [ngIf]="withouHeaderAndFooter">
    <router-outlet></router-outlet>
</ng-template>