<div class="item">
  <div class="header">
    <mat-checkbox id="enable{{generator.parameterName}}" [(ngModel)]="generator.enabled" [labelPosition]="'after'"
      (change)="enabledChanged($event)">
      <h4>{{generator.name | translate}}</h4>
    </mat-checkbox>
  </div>
  <div class="body">
    <mat-checkbox *ngIf="visibleField" id="visible{{generator.parameterName}}" [(ngModel)]="generator.visible"
      [labelPosition]="'after'" (change)="visibleChanged($event)" color="primary">Visible in widget</mat-checkbox>
    <div class="label">
      <div *ngIf="generator.optional;else ownValueOnly">
        <mat-form-field>
          <mat-select [(ngModel)]="generator.ownValue" (selectionChange)="ownValueChanged($event)">
            <mat-option [value]="true">
              {{'OwnValue' | translate}}
            </mat-option>
            <mat-option [value]="false">
              {{'DefaultValue' | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-template #ownValueOnly>
        <div>{{'OwnValue' | translate}}</div>
      </ng-template>
    </div>
    <div>
      <mat-form-field class="value-and-unit">
        <input matInput [textMask]="{mask: currencyMask}" type="tel" inputmode="numeric" [(ngModel)]="generator.value" (keypress)="valueChanged($event)">
        <div class="unit">{{generator.getCurrentUnit()}}</div>
      </mat-form-field>
    </div>
  </div>
</div>