.item {
    display: block;
    margin: 10px;
}

.item .header {
    display: flex;
    flex-direction: row;
}

.item .header h4 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0px;
    color: var(--dark);
}

.item .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 5px 0px 15px 10px;
    font-size: 1.1em;
}

.item .body .label {
    flex: auto;
}

.item .body .mat-form-field {
    flex: 1;
}

.item .body .mat-form-field-infix {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 0.5em;
}

.item .body input {
    text-align: right;
}

.mat-checkbox {
    margin: 0px 10px;
}

.item .mat-checkbox-checked.mat-accent .mat-checkbox-background, .item .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .item .mat-accent .mat-pseudo-checkbox-checked, .item .mat-accent .mat-pseudo-checkbox-indeterminate, .item .mat-pseudo-checkbox-checked, .item .mat-pseudo-checkbox-indeterminate {
    border-color: var(--semi-dark);
    background-color: var(--semi-dark);
}