section {
    background-color: var(--light);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);
    margin-bottom: -80px;
}

.content {
    padding-top: 80px;
    background: white;
}

.welcome-text-wrapper {
    padding: 1.5em 0 5em 0;
    font-size: 1rem;
    /*background-image: url("/assets/images/house_chart.png");
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;*/
}

.welcome-text-wrapper h1 {
    font-size: 2rem;
    margin: 0em 0.5em 2em 0.5em;
}

.welcome-text, .welcome-text-wrapper h1 {
    text-align: center;
}

.welcome-text {
    max-width: 1000px;
    font-size: 1.5rem;
}

.welcome-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0.4em 3em 0.4em;
    grid-column-gap: 2px;
}

.welcome-boxes .box {
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 300px;
    border: 5px solid var(--dark);
    background-color: var(--dark);
    color: var(--light);
    border-radius: 1em;
    padding: 1em;
    font-size: 0.9rem;
    /*margin-bottom: 2em;*/
}

.welcome-boxes .box:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    justify-self: end;
}

.welcome-boxes .box:last-child {
    /*margin-bottom: 0;*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-self: start;
}

.welcome-boxes .box .highlight, .highlight {
    color: var(--highlight);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.number {
    display: none;
    color: white;
    font-weight: 800;
    font-size: 3rem;
    margin-right: 0.4em;
}

.invest a {
    display: inline-block;
    background-color: var(--highlight);
    border-radius: 1em;
    padding: 0.8em 1.1em;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px var(--semi-dark);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


@media all and (min-width: 600px) {
    .welcome-text-wrapper {
        font-size: 1.5rem;
    }
    .welcome-text-wrapper h1 {
        font-size: 2.5rem;
    }
    .welcome-boxes .box {
        text-align: left;
        font-size: 1.1rem;
    }
    .number {
        display: block;
    }
    .invest a {
        font-size: 1.5rem;
    }
}


@media all and (min-width: 700px) {
    .welcome-text-wrapper {
        font-size: 2rem;
    }
}

@media all and (min-width: 800px) {
    .welcome-boxes {
        flex-direction: row;
    }
}

@media all and (min-width: 1000px) {
    .welcome-text-wrapper {
        padding-bottom: 22%;
        background-image: url("/assets/images/house_chart.png");
        background-position: bottom right;
        background-size: 45%;
        background-repeat: no-repeat;
    }

    .welcome-text-wrapper h1 {
        font-size: 2.9rem;
    }

    .welcome-boxes .box {
        font-size: 1.2rem;
    }

    .number {
        font-size: 2rem;
    }
}

@media all and (min-width: 1200px) {
    .welcome-text-wrapper {
        padding-bottom: 22%;  
        background-size: 50%;      
    }
}