<section class="intro">
    <div class="container">
        <div class="welcome-text-wrapper">
            <h1>Dlouhodobá a bezpečná investice s <span class="highlight">10%</span> ročním zhodnocením</h1>
            <div class="welcome-text">
                <div class="welcome-boxes">
                    <div class="box">
                        <div class="number">1</div>
                        <div class="text">Cena bytů za posledních 15&nbsp;let podle ČSÚ vzrostla o 140&nbsp;%, tedy přes
                            6&nbsp;% ročně.
                        </div>
                    </div>
                    <div class="box">
                        <div class="number">2</div>
                        <div class="text">Čistý nájem se standartně pohybuje okolo 4&nbsp;% z ceny nemovitosti.</div>
                    </div>
                </div>
                <div class="invest">
                    <a routerLink="/kalkulacky">Chci si propočítat investici</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="content">
    <app-rental-investment></app-rental-investment>
    <app-articles [onlyFirstFew]="5"></app-articles>
</div>