<div class="widget">
    <div class="controls">
        <div *ngFor="let range of ranges">
            <app-range *ngIf="!range.hidden" [(range)]="range" [color]="myColor" (change)="recalculate()"></app-range>
        </div>
    </div>

    <div class="results">
        <div class="row">Měsíční splátka: <span class="calculation">{{calculations.monthlyMortgagePayment}} Kč</span>
        </div>
        <div class="row">Měsíční doplatek: <span class="calculation">{{calculations.myMortgagePayment}} Kč</span></div>
        <div class="row">Roční výnos: <span class="calculation">{{calculations.nettYearlyRoa}} %</span></div>
    </div>
</div>