.controls {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid whitesmoke;
}

.controls .control {
    margin-bottom: 20px;
}

.results .row {
    padding: 10px 5px;
    font-size: 1.3em;
}

.results .row .calculation {
    /*color: #ff880e;*/
    font-weight: 600;
}