<section>
    <div class="container">
        <a *ngIf="newestArticle" [routerLink]="['/clanek', newestArticle.articleId]" class="row newest">
            <div class="article-content">
                <h2>{{newestArticle.title}}</h2>
                <p>{{newestArticle.contentPreview}}</p>
            </div>
            <div class="article-image">
                <img src="{{newestArticle.picture}}" alt="about_img" />
                <div class="blog_date"><span class="date"><i class="fa fa-calendar-o"></i>{{newestArticle.date}}</span></div>
            </div>
        </a>
        <div class="row">
            <div *ngFor="let article of olderArticles">
                <app-article-preview [article]="article"></app-article-preview>
            </div>
        </div>
        <!-- <div *ngIf="onlyFirstFew !== 0" class="more-articles"><a routerLink="/clanky">Více článků</a></div> -->
        <div class="articles-footer">
            <button mat-raised-button *ngIf="onlyFirstFew !== 0" routerLink="/blog"><span
                    matBadge="{{articlesTotal - onlyFirstFew}}" matBadgeOverlap="false">{{'ArticlesMoreArticles' | translate}}</span></button>
            <mat-paginator *ngIf="onlyFirstFew === 0" [pageSize]="pageSize" [length]="articlesTotal"
                [pageIndex]="currentPage-1" (page)="pageChange($event)" [showFirstLastButtons]="true"
                [hidePageSize]="true"></mat-paginator>
        </div>
    </div>
</section>