<section class="gray_bg" id="blog">
    <div class="container">
        <!--<div class="row">
            <h2>Spolupráce</h2>
            Basic shit about cooperation and SEO
        </div>
        <div class="row">
            <h3>Specifická spolupráce:</h3>
            <a [routerLink]="['/spoluprace/realitni-makleri-a-kancelare']">Realitní makléři a kanceláře</a>
            <a [routerLink]="['/spoluprace/financni-agenti']">Finanční agenti</a>
        </div>-->
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>