/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root{
    --dark: #1b262c;
    --semi-dark: #0f4c75;
    --semi-light: #3282b8;
    --light: #bbe1fa;
    --highlight: #ff880e;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--light);
}

section, footer {
    margin: 0px;
    padding: 20px 0px;
    background: white;
}

section .container, footer .container {
    max-width: 1400px;
    min-width: 300px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark);
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 0px; 
}

.hightlight{
    color: var(--highlight);
}