.generating-form {
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.generating-form .group .controls {
    display: grid;
    grid-template-columns: 1fr;
}

.generating-form .group .mat-expansion-panel-header-title {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dark);
    border-bottom: 2px solid var(--semi-light);
    padding: 25px 0px;
}

.generating-form .group .mat-expansion-panel-header {
    padding-left: 20px;
    padding-right: 0px;
}

.generating-form .group .mat-expansion-panel-body {
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 20px;
}

.generated-link-wrapper {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.generated-link-wrapper input {
    font-size: 1.5em;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

.generated-link-wrapper button {
    font-size: 1.3em;
    padding: 20px 30px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

fa-icon {
    color: var(--semi-light);
    font-size: 1.5em;
}

@media all and (min-width: 600px) {
    .generated-link-wrapper {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-column-gap: 20px;
    }
    .generated-link-wrapper input {
        margin-bottom: 0px;
    }
}

@media all and (min-width: 780px) {
    .generating-form .group .controls {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}

@media all and (min-width: 890px) {
    .generating-form .group {
        padding: 10px 0px;
    }

    .generating-form .group .controls {
        grid-column-gap: 60px;
    }
}

@media all and (min-width: 1200px) {
    .generating-form .group .controls {
        grid-template-columns: 1fr 1fr 1fr;
    }
}