<div class="generating-form">
    <h3>{{'LinkGenerator' | translate}}</h3>
    <mat-expansion-panel *ngFor="let group of groupedGenerators" [expanded]="true" [disabled]="true" class="group">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{group.name | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="controls">
            <app-generator-item *ngFor="let generator of group.generators" [generator]="generator"
                (change)="generatorChanged()">
            </app-generator-item>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" [disabled]="true" class="group">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'GeneratedLink' | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="generated-link-wrapper">
            <input type="text" [ngModel]="generatedLink" readonly onFocus="this.select();" />
            <button mat-button (click)="copyLink()">
                <fa-icon [icon]="faCopy" matTooltip="{{'CopyLink' | translate}}" [matTooltipPosition]="'above'">
                </fa-icon><br>{{'CopyLink' | translate}}
            </button>
        </div>
    </mat-expansion-panel>
</div>